<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thrive">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thrive">
        <activity android:name=".ChangeAvatar"></activity>
        <activity android:name=".AnimalDetails" />
        <activity android:name=".Pedometer" />
        <activity android:name=".AddGoals" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Shop" />
        <activity android:name=".Stat" />
        <activity android:name=".Friends" />
        <activity android:name=".Profile" />
        <activity android:name=".PersonalInfo" />
        <activity android:name=".Logout" />
        <activity android:name=".VerifyEmail" />
        <activity android:name=".Signup" />
        <activity android:name=".login" />
        <activity android:name=".Focus_Session" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>